$color-main1: #03B5AA
$color-main2: #707070

body
    background: black
    width: 100vw
    height: 100vh
#container
    position: fixed
    width: 100vw
    height: 100vh
    background: red
    overflow: scroll
    header
        font-size: 14px
        position: fixed
        z-index: 1000
        margin: 20px 0 0 20px
        width: 60%
        height: 100px
        // background: white
        display: flex
        flex-direction: column
        #upper-layer
            flex: 3
            display: flex
            // background: red
            #portrait-wrapper
                flex: 1
                // background: red
                display: flex
                align-items: center
                justify-content: center
                // border-radius: 100px
                // box-shadow: 0px 1px 6px 0px rgba(black, 0.1)
                #portrait
                    background: $color-main1
                    width: 70px
                    height: 70px
                    border-radius: 35px
                    box-shadow: 0px 1px 6px 0px rgba(black, 0.1)
                    position: relative
                    z-index: 2
                    display: flex
                    align-items: center
                    justify-content: center
                    #portrait-img
                        width: 64px
                        height: 64px
                        border-radius: 32px
                        background: white
                    .circle_left ,.circle_right
                        position: absolute
                        border-width: 1px
                        width: 100%
                        height: 100%
                        .left, .right
                            position: absolute
                            display: flex
                            width: 100%
                            height: 100%
                            transform: rotate(0deg)
                            transition: 1s
                            border-radius: 50%
                            background: white
                    .mask
                        display: none
                    .circle_right, .right
                        clip: rect(0,auto,auto,38px)
                    .circle_left, .left
                        clip: rect(0,38px,auto,0)
            #basic-info
                flex: 2
                display: flex
                flex-direction: column
                #money
                    flex: 1
                    padding-left: 20px
                #population
                    flex: 1
                    // background: yellow
                    padding-left: 20px
                .bg-container
                    width: 100%
                    height: 90%
                    background: white
                    border-radius: 100px
                    padding: 0 10px
                    display: flex
                    align-items: center
                    box-shadow: 0px 1px 6px 0px rgba(black, 0.1)
                    p
                        display: inline
                        flex:1
                        color: $color-main1
                    span
                        flex: 2
                        text-align: right
                        color: $color-main2
                        
        #lower-layer
            flex: 1
            padding-top: 5px
            color: $color-main1
    #new-building-wrapper
        position: fixed
        z-index: 800
        width: 100%
        height: 100%
        bottom: -100%
        #new-building-section
            width: 100%
            height: 75%
            background: $color-main1
            position: absolute
            bottom: 0
            // bottom: -100%
            border-radius: 24px 24px 0 0        

    footer
        position: fixed
        z-index: 1000
        width: 100%
        height: 64px
        background: white
        bottom: 0
        display: flex
        #new-building-btn
            position: absolute
            text-align: center
            font-size: 30px
            width: 56px
            height: 56px
            line-height: 56px
            background: $color-main1
            border-radius: 28px
            top: -28px
            cursor: pointer
            box-shadow: 0px 1px 2px 1px rgba(black, 0.4)
            color: white
        .footer-btn
            flex: 1
            text-align: center
            font-size: 10px