body {
  background: black;
  width: 100vw;
  height: 100vh;
}

#container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: red;
  overflow: scroll;
}
#container #warning-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1200;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
#container #warning-wrapper #warning {
  text-align: center;
  width: 200px;
  height: 110px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 10px 10px;
}
#container #warning-wrapper #warning h4 {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 0 0;
}
#container #warning-wrapper #warning p {
  width: 100%;
  height: 70px;
  line-height: 20px;
  font-size: 12px;
  padding: 15px 0;
  font-weight: 200;
}
#container header {
  font-size: 14px;
  position: fixed;
  z-index: 1000;
  margin: 20px 0 0 20px;
  width: 60%;
  height: 100px;
  display: flex;
  flex-direction: column;
}
#container header #upper-layer {
  flex: 3;
  display: flex;
}
#container header #upper-layer #portrait-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container header #upper-layer #portrait-wrapper #portrait {
  background: #03B5AA;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container header #upper-layer #portrait-wrapper #portrait #portrait-img {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  background: white;
}
#container header #upper-layer #portrait-wrapper #portrait .circle_left, #container header #upper-layer #portrait-wrapper #portrait .circle_right {
  position: absolute;
  border-width: 1px;
  width: 100%;
  height: 100%;
}
#container header #upper-layer #portrait-wrapper #portrait .circle_left .left, #container header #upper-layer #portrait-wrapper #portrait .circle_left .right, #container header #upper-layer #portrait-wrapper #portrait .circle_right .left, #container header #upper-layer #portrait-wrapper #portrait .circle_right .right {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
  transition: 1s;
  border-radius: 50%;
  background: white;
}
#container header #upper-layer #portrait-wrapper #portrait .mask {
  display: none;
}
#container header #upper-layer #portrait-wrapper #portrait .circle_right, #container header #upper-layer #portrait-wrapper #portrait .right {
  clip: rect(0, auto, auto, 38px);
}
#container header #upper-layer #portrait-wrapper #portrait .circle_left, #container header #upper-layer #portrait-wrapper #portrait .left {
  clip: rect(0, 38px, auto, 0);
}
#container header #upper-layer #basic-info {
  flex: 2;
  display: flex;
  flex-direction: column;
}
#container header #upper-layer #basic-info #money {
  flex: 1;
  padding-left: 20px;
}
#container header #upper-layer #basic-info #population {
  flex: 1;
  padding-left: 20px;
}
#container header #upper-layer #basic-info .bg-container {
  width: 100%;
  height: 90%;
  background: white;
  border-radius: 100px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
}
#container header #upper-layer #basic-info .bg-container p {
  display: inline;
  flex: 1;
  color: #03B5AA;
}
#container header #upper-layer #basic-info .bg-container span {
  flex: 2;
  text-align: right;
  color: #707070;
}
#container header #lower-layer {
  flex: 1;
  padding-top: 5px;
  color: #03B5AA;
}
#container #new-building-wrapper {
  position: fixed;
  z-index: 800;
  width: 100%;
  height: 100%;
  bottom: -100%;
  color: white;
}
#container #new-building-wrapper #new-building-section {
  width: 100%;
  height: 75%;
  background: #03B5AA;
  position: absolute;
  bottom: 0;
  border-radius: 24px 24px 0 0;
}
#container #new-building-wrapper #new-building-section #center-title {
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
}
#container #new-building-wrapper #new-building-section #building-info-section {
  width: 100%;
  height: 78%;
  overflow: scroll;
  padding: 0 20px;
}
#container #new-building-wrapper #new-building-section #building-info-section .type {
  width: 100%;
  margin-bottom: 12px;
}
#container #new-building-wrapper #new-building-section #building-info-section .type .type-title {
  cursor: pointer;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 15px 0 13px;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px 5px 0 0;
}
#container #new-building-wrapper #new-building-section #building-info-section .type .type-title span {
  float: right;
}
#container #new-building-wrapper #new-building-section #building-info-section .type .building-list {
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  padding: 18px 13px 8px 13px;
}
#container #new-building-wrapper #new-building-section #building-info-section .type .building-list .active {
  max-height: 1000px;
}
#container #new-building-wrapper #new-building-section #building-info-section .type .building-list ul {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out;
}
#container #new-building-wrapper #new-building-section #building-info-section .type .building-list ul li {
  width: 100%;
  height: 70px;
  background: rgba(255, 255, 255, 0.4);
  margin-bottom: 10px;
  display: flex;
  border-radius: 7px;
}
#container #new-building-wrapper #new-building-section #building-info-section .type .building-list ul li .building-img {
  width: 70px;
  height: 70px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 7px;
}
#container #new-building-wrapper #new-building-section #building-info-section .type .building-list ul li .building-info {
  padding: 8px 10px 10px 8px;
  height: 70px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
#container #new-building-wrapper #new-building-section #building-info-section .type .building-list ul li .building-info .building-name {
  font-size: 18px;
  flex: 1;
  display: flex;
  align-items: center;
}
#container #new-building-wrapper #new-building-section #building-info-section .type .building-list ul li .building-info .building-name span {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 200;
}
#container #new-building-wrapper #new-building-section #building-info-section .type .building-list ul li .building-info .material {
  font-weight: 200;
  font-size: 12px;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
#container footer {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 64px;
  background: white;
  bottom: 0;
  display: flex;
}
#container footer #new-building-btn {
  position: absolute;
  text-align: center;
  font-size: 30px;
  width: 56px;
  height: 56px;
  line-height: 56px;
  background: #03B5AA;
  border-radius: 28px;
  top: -28px;
  cursor: pointer;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.4);
  color: white;
}
#container footer .footer-btn {
  flex: 1;
  text-align: center;
  font-size: 10px;
}

/*# sourceMappingURL=style.css.map */
